@import '../../global/variables.scss';

.user-info {
    &__author-marker {
        background-color: $moderate-blue;
        border-radius: 5px;

        padding: 3px;
        
        font-size: 15px;
        font-family: 'Rubik', sans-serif;
    }
}