@import '../../global/variables.scss';

.button {

	&--primary {
		&.button--with-background {
			background-color: $moderate-blue !important;
		}

		&.button--with-icon {
			color: $moderate-blue !important;
		}
	}

	&--secondary {
		&.button--with-background {
			background-color: $grayish-blue !important;
		}
	}

	&--danger {
		&.button--with-background {
			background-color: $red !important;
		}

		&.button--with-icon {
			color: $red !important;
		}
	}

	&--with-background {
		border: none !important;

		width: 100px !important;
		height: 44px;

		padding: 10px !important;
		color: #fff !important;
	}

	&:hover {
		opacity: .5;
	}
}